/* universal settings */

body,
ul,
nav {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

a,
p,
span,
h1,
h2,
h3,
li {
    font-family: 'Source Sans Pro', sans-serif;
    color: inherit;
    text-decoration: none;
}

p,
h1 {
    margin: 0;
}


/* navbar */

.navigationWrapper {
    padding: 0 15%;
    border-bottom: solid 1px black;
    background-color: #1e262c;
}

.navigationContainer {
    display: flex;
    justify-content: space-around;
}

.navigationWrapper li {
    list-style-type: none;
    text-align: center;
    padding: 0.5%;
    width: 10%;
    min-width: 100px;
    margin: 1% 0px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.container {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5% 0;
}

.container-fluid {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
    display: block;
}

#navBrand {
    font-style: italic;
    color: darkgray;
    margin-right: 5%;
    margin-left: 5%;
}

.navigationContainer li:nth-child(2) {
    margin-left: 5%;
}

.navigationContainer li:nth-child(5) {
    margin-right: 20%;
}

.navigationContainer a:hover {
    color: #19a197;
    text-decoration: underline;
}


/* Home Opmaak */

.intro {
    background-color: #19a197;
    color: #fff;
}

.introContainer h1,
.media h1 {
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}

.introContainer p {
    font-size: 22px;
}

.introSectionContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.introSectionContainer img{
    width: 300px;
    height: 300px;
}

.container iframe
{
    width: 100%;
    height: 400px;
    border: 0;
}

/* Contact opmaak */
.adresContainer
{
    width: 100%;
    background-color: #19a197;
    color: white;
}

.adresBox
{
    width: 80%;
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 5% 0;
}

.adresBox h2
{
    font-weight: 1000;
}

.adresBox p
{
    font-size: 20px;
}

.adresBox section
{
    width: 20%;
}

.adresBox h2
{
    margin-bottom: 0;
    text-align: center;
}

.adresBox a
{
    color: black;
    text-decoration: underline;
}

.adresBox img
{
    display: block;
    margin:0 auto;
    width: 40%;
}

.adresBox p:nth-child(3n)
{
    font-weight: bolder;
}

.adresBox p:nth-child(3n+2) 
{
    margin-bottom: 20px;   
}

#telefoonEnd
{
    margin-bottom: 0;
}

#emailEnd
{
    margin-bottom:0;
}
    
#map
{
    width: 100%;
    
    height: 40vh;
}

.contactForm
{
    margin: 3% auto;
    width: 60%;
}

.contactImage
{
    width: 60%;
    margin: 3% auto;
    display: flex;
    justify-content: space-around;
}

.socialMediaImage
{
    width:100%;
}

.inputNaam{}

.inputEmail
{
    width:250px;
}

.inputMededeling
{
   width: 100%;
}

.inputSubmit
{
    width: 100px;
    height: 25px;
}


/* huisregels opmaak */
.huisregels
{
    background-color:#E8E8E8 ;
}

.huisregelsContainer
{
    margin: 2% auto;
    width: 85%;
}


.huisregelsContainer ul
{
    margin-left: 20px;
}

/* verhuur opmaak */
.verhuurContainer
{
    width: 80%;
    margin:3% auto;
    font-size: 20px;
}

.huisregelsContainer
{
    margin: 50px auto;
}

.verhuurContainer h1
{
    text-align: center;
}

.verhuurInfo div
{
    float:left;
    width: 33%;
    text-align: center;
    margin-bottom: 50px;
}

.verhuurInbegrepen
{
    margin-top:50px;
    margin-bottom: 50px;
    clear:both;
}

.verhuurInbegrepen ul
{
    margin-left:25px;
}

.verhuurContactPersoon div
{
    margin: 0 auto;
    display: block;
    width: auto;
    text-align: center;
}

.lastItem
{
    margin-top: 20px;
}
.verhuurInbegrepen a, .verhuurContactPersoon div a
{
    text-decoration: underline;
}

.drankPrijzen
{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.drankPrijzen th
{
    font-size: 24px;
    
}

.drankPrijzen tr td:first-child
{
    text-align: left;
}



/* tablet filter */
@media all and (max-width:960px) {
    /* index */
    .container {
        width: 80%;
        padding: 15% 0;
    }
    #navBrand {
        margin: 0 auto;
    }
    .introSectionContainer {
        width: 100%;
        display: block;
        
    }
    
    .introSectionContainer img
    {
        display: block;
        margin: 50px auto;
        margin-bottom: 0;
    }
    
    .navigationContainer {
        display: block;
    }
    .navigationWrapper li {
        margin: 0 auto;
        padding: 10px 0;
    }
    .navigationContainer li:nth-child(2) {
        margin: 0 auto;
    }
    .navigationContainer li:nth-child(5) {
        margin: 0 auto;
    }
    
    /* verhuur pagina */
    .verhuurInfo div
    {
        float:none;
        width: 100%;
        text-align: center;
    }
    
    /* contact */
    .adresBox
    {
        flex-direction: column;
        align-items: center;
    }
    
    .adresBox section
    {
        width: 60%;
        margin: 20px auto;
    }
    
    .contactImage
    {
        width: 100%;
        display: block;
    }
    
    .contactImage img
    {
        display: block;
        margin: 3% auto;
    }
    
    
    
}